.myButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.myPopup {
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 600px;
    height: 550px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}